<div class="contact">
<!--Main title-->
      <div class="main-title">
                      <h1>map location</h1>
                        <div class="divider">
                            <div class="zigzag large clearfix "  data-svg-drawing="yes" >
      <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <path d="M1.357,12.26 10.807,2.81 20.328,12.332
        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
      </svg>
      </div>
      </div>
                    </div>
                <!--Content-->
                <div class="content">

                  <!--Block content-->
                  <div class="block-content ">

                  <!--Map-->
                  <div class="block-map">

                    <!--Row-->
                    <div class="row">


                    <div class="col-md-12">

                        <div id="map">

                        </div>

                    </div>

                    </div>
                    <!--End row-->

                              </div>
                <!--End map-->

                </div>
                <!--End block content-->



                </div>
                <!--End content-->





                  <!--Main title-->

                    <div class="main-title">
                      <h1>contact info</h1>
                        <div class="divider">
                            <div class="zigzag large clearfix "  data-svg-drawing="yes" >
      <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <path d="M1.357,12.26 10.807,2.81 20.328,12.332
        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
      </svg>
      </div>
      </div>
                    </div>

                  <!--End main title-->




              <!--Content-->
              <div class="content">

                <!--Block content-->
                <div class="block-content ">

                <!--Info-->
                <div class="block-info">

                  <!--Row-->
                  <div class="row">
                  <%@contact.each do |contact|%>
                  <div class="col-md-12">

                    <div class="info-holder   margTMedium">

                    <!--Address info-->
                    <div class="address-info">
                    <i class="fa fa-map-marker"></i>
                    <p><%=contact.companyname%>.<%=contact.address%> <br><%=contact.city%>.</p>
                    </div>
                    <!--End address info-->


                    <!--Contact info-->
                    <div class="contact-info tCenter">
                    <ul>
                      <li><div class="ico"><i class="fa fa-envelope"></i></div>
                      <p>Email : <%=contact.email%> </p></li>
                      <li><div class="ico"><i class="fa fa-phone"></i></div>
                      <p>Tel : <%=contact.phone%></p></li>
                      <li><div class="ico"><i class="fa fa-link"></i></div>
                        <p>WebSite : <a href="http://<%=contact.website%>"><%=contact.website%></a></p></li>
                    </ul>
                    </div>
                    <!--End contact info-->

                    </div>

                  </div>
                  <%end%>
                  </div>
                  <!--End row-->

                            </div>
              <!--End info-->

              </div>
              <!--End block content-->



              </div>
              <!--End content-->







              <!--Main title-->

                <div class="main-title">
                  <h1>send me an email</h1>
                    <div class="divider">
                        <div class="zigzag large clearfix "  data-svg-drawing="yes" >
  <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
  <path d="M1.357,12.26 10.807,2.81 20.328,12.332
    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
  </svg>
  </div>
  </div>
                </div>

              <!--End main title-->




          <!--Content-->
          <div class="content">

            <!--Block content-->
            <div class="block-content ">

            <!--Contact-->
            <div class="block-contact margBSSmall">

              <!--Row-->
              <div class="row">

              <div class="col-md-12">
                    <!-- Contact Forme -->

                      <!--Contact form message-->
                      <div id="success"><h2>Your message has been sent. Thank you!</h2></div>
                      <div id="error"><h2>Sorry your message can not be sent.</h2></div>
                      <!--End contact form message-->


              </div>


              </div>
              <!--End row-->

                        </div>
          <!--End contact-->

          </div>
          <!--End block content-->



          </div>
          <!--End content-->





              <!--Button-->
              <div class="button ofsInTop tCenter">

                  <div class="divider">
                      <div class="zigzag large clearfix "  data-svg-drawing="yes" >
<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
<path d="M1.357,12.26 10.807,2.81 20.328,12.332
  29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
</svg>
</div>
</div>


                                <!--Row-->
                <div class="row ">


                  <div class="col-md-12">
                    <a class="but opc-1 ico" href="#">Download my cv</a>
                    <a class="but opc-2 ico" href="#">Print my resume</a>

                  </div>



                  </div>
                  <!--End row-->


                              </div>
                <!--End button-->




                </div>
