<div class="contact">
<!--Main title-->

                <div class="main-title">
                  <h1>send me an email</h1>
                    <div class="divider">
                        <div class="zigzag large clearfix "  data-svg-drawing="yes" >
  <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
  <path d="M1.357,12.26 10.807,2.81 20.328,12.332
    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
  </svg>
  </div>
  </div>
                </div>

              <!--End main title-->




          <!--Content-->
          <div class="content">

            <!--Block content-->
            <div class="block-content ">

            <!--Contact-->
            <div class="block-contact margBSSmall">

              <!--Row-->
              <div class="row">

                  <%=form_for @contactme, :html => {:class => "contact-form"} do |f|%>
                  <div class="input-columns clearfix">
                    <%if @contactme.errors.any?%>
                      <%@contactme.errors.full_messages.each do |message|%>
                      <div class="alert alert-warning" role="alert"><i class="fa fa-warning"></i> <%=message%></div>
                      <%end%>
                    <%end%>
                    <div class="column1">
											<div class="column-inner">
                        <%=f.text_field :name, placeholder:"Name" ,:id=>"name"%>
											</div>
										</div>

										<div class="column2">
											<div class="column-inner">
                        <%=f.text_field :email, placeholder:"Email",:id=>"email"%>
											</div>
										</div>
															<!--End column-->
                  </div>
                  <%=f.text_field :subject, placeholder:"Subject",:id=>"subject"%>

                  <%=f.text_area :message, placeholder:"Message",:id=>"message"%>

                  <div class="form login">
                    <div class="form_field" style="padding-left:15px;padding-right:15px;padding-top:10px;">
                      <%=f.submit "Submit"%>
                    </div>
                  </div>
                  <%end%>

              </div>
              <!--End row-->

                        </div>
          <!--End contact-->

          </div>
          <!--End block content-->



          </div>




                  <!--Main title-->

                    <div class="main-title">
                      <h1>contact info</h1>
                        <div class="divider">
                            <div class="zigzag large clearfix "  data-svg-drawing="yes" >
      <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <path d="M1.357,12.26 10.807,2.81 20.328,12.332
        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
      </svg>
      </div>
      </div>
                    </div>

                  <!--End main title-->




              <!--Content-->
              <div class="content">

                <!--Block content-->
                <div class="block-content ">

                <!--Info-->
                <div class="block-info">

                  <!--Row-->
                  <div class="row">
                  <%@contact.each do |contact|%>
                  <div class="col-md-12">

                    <div class="info-holder   margTMedium">

                    <!--Address info-->
                    <div class="address-info">
                    <i class="fa fa-map-marker"></i>
                    <p><%=contact.companyname%>.<%=contact.address%> <br><%=contact.city%>.</p>
                    </div>
                    <!--End address info-->


                    <!--Contact info-->
                    <div class="contact-info tCenter">
                    <ul>
                      <li><div class="ico"><i class="fa fa-envelope"></i></div>
                      <p>Email : <%=contact.email%> </p></li>
                      <li><div class="ico"><i class="fa fa-phone"></i></div>
                      <p>Tel : <%=contact.phone%></p></li>
                      <li><div class="ico"><i class="fa fa-link"></i></div>
                        <p>WebSite : <a href="http://<%=contact.website%>"><%=contact.website%></a></p></li>
                    </ul>
                    </div>
                    <!--End contact info-->

                    </div>

                  </div>
                  <%end%>
                  </div>
                  <!--End row-->

                            </div>
              <!--End info-->

              </div>
              <!--End block content-->



              </div>
              <!--End content-->




              <div class="main-title">
                              <h1>map location</h1>
                                <div class="divider">
                                    <div class="zigzag large clearfix "  data-svg-drawing="yes" >
              <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <path d="M1.357,12.26 10.807,2.81 20.328,12.332
                29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
              </svg>
              </div>
              </div>
                            </div>
                        <!--Content-->
                        <div class="content">

                          <!--Block content-->
                          <div class="block-content ">

                          <!--Map-->
                          <div class="block-map">

                            <!--Row-->
                            <div class="row">


                            <div class="col-md-12">
                              <%@contact.each do |contact|%>
                                <div id="map">
                                  <iframe src="https://www.google.com/maps/embed?pb=<%=contact.map%>" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                              <%end%>
                            </div>

                            </div>
                            <!--End row-->

                                      </div>
                        <!--End map-->

                        </div>
                        <!--End block content-->



                        </div>
                        <!--End content-->




              <!--Main title-->

          <!--End content-->





              <!--Button-->




                </div>
