<div class="main-title">
  <h1>education</h1>
    <div class="divider">
        <div class="zigzag large clearfix "  data-svg-drawing="yes" >
<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
<path d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
</svg>
</div>
</div>
</div>
<!--End main title-->
  <!--Content-->
  <div class="content">
    <!--Block content-->
    <div class="block-content">
    <!--Timeline-->
    <div class="timeline education">
                      <!--Row-->
      <div class="row ">
        <div class="col-md-12">
          <!--Experience holder-->
          <div class="exp-holder margTop">
          <!--Experience-->
          <%@education.each do |edu|%>
          <div class="exp">
          <div class="hgroup" >
            <h4><%=edu.title%></h4>
            <h6><i class="icon-calendar"></i><%=edu.start_education%> - <%=edu.end_education%></h6>
          </div>
            <p><%=edu.description%></p>
          </div>
          <%end%>
          <!--End experience-->
            <!--End experience-->
          </div>
          <!--End experience holder-->
        </div>


      </div>
      <!--End row-->

                  </div>
    <!--End timeline-->

    </div>
    <!--End block content-->


</div>
<!--End content-->
