<div class="main-title">
  <h1>Latest Post</h1>
    <div class="divider">
        <div class="zigzag large clearfix "  data-svg-drawing="yes" >
<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
<path d="M1.357,12.26 10.807,2.81 20.328,12.332
29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
</svg>
</div>
</div>
</div>

<!--End main title-->

<!--Content-->
<div class="content">
  <!--Block content-->
  <div class="block-content ">
  <!--Testimonilas-->
  <div class="testimonials">
                    <!--Row-->
    <div class="row ">
    <div class="col-md-12">
      <!--Slider-->
      <div class="testi clearfix ">
        <ul id="testimonial-carousel">
        <%@latestposts.each do |late|%>
        <li>
          <div class="block-quote">
          <div class="block-img"><img alt="" src="<%=late.image%>"></div>
          <div class="block-icon"><i class="icon-quote"></i></div>
          <h3 class="block-profile"><%=late.title%>   <span> <%=late.created_at%></span></h3>
          <blockquote><%=late.description%></blockquote>

          </div>
         </li>
         <%end%>
        </ul>

          </div>
      <!--End  slider-->


    </div>


      </div>
      <!--End row-->


                  </div>
    <!--End testimonials-->

    </div>
    <!--End block content-->


</div>
<!--End content-->
