<div class="col-md-3 nopr left-content">
      <!--Main header-->
      <div class="main-header">
      <!--Profile image-->
      <%@personals.each do |personal|%>
      <figure class="img-profile">
        <img src="<%=personal.image%>" alt=""/>

        <figcaption class="name-profile">
          <span><%=personal.name%> <sup>&reg;</sup></span>
        </figcaption>

      </figure>
      <%end%>
      <!--End profile image-->

          <!--Main navigation-->
            <nav id="main-nav" class="main-nav clearfix tabbed">

            <ul>
              <li><%=link_to "Back To Home", 'javascript:history.go(-1);'%></li>

            </ul>


            </nav>
          <!--End main navigation-->

    </div>
    <!--End main header-->

    <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
      <ul class="social">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>

    <p>&copy; 2017 Ai Solution</p>

    </div>


</div>
<!--End left content-->
