<!--Right content-->
<div class="col-md-9 right-content">
      <!--About Tab-->
    <section id="about" class="bgWhite ofsInBottom hide">
      <!--About -->
    <%=render "add/whoami"%>
    <!--Main title-->
    <%=render "add/skill"%>
    <!--Main title-->
    <%=render "add/experience"%>
    <!--Main title-->
    <%=render "add/education"%>
    <!--Main title-->
    <%=render "add/latestpost"%>
    <!--Button-->
    <%=render "add/footer"%>
    <!--End button-->
</div>
      <!--End about-->
    </section>
<!--End about tab-->
<!--Portfolio Tab-->
<section id="portfolio" class="bgWhite ofsInBottom hide">
<!--Portfolio -->
<div class="portfolio">
<!--Main title-->
  <%=render "add/mywork"%>
  <%=render "add/footer"%>
              <!--End button-->
</div>
              <!--End portfolio-->
</section>
              <!--End portfolio tab-->

<!--Blog Tab-->
<section id="blog" class="bgWhite ofsInBottom hide">
<!--Blog -->
<div class="blog">
                <!--Main title-->
<%=render "add/blog"%>
<%=render "add/footer"%>
</div>
<!--End blog-->
</section>
<!--End blog tab-->
<!--Contact Tab-->
<section id="contact" class="bgWhite ofsInBottom">
<!--Contact -->
<%=render "add/contact"%>
<!--End contact-->
</section>
<!--End contact tab-->
</div>
