
<div id="wrapper" class="margLTop  margLBottom">
	<div class="container">
			<div class="row ">
				<!--Left content-->
				<%=render "shared/left-content"%>
				<%=render "shared/right-content"%>
				<!--End right content-->
			</div>
			<!--End  row-->
	</div>
		<!--End  container-->
</div>
<!--End wrapper-->
<%=render "shared/js-partial"%>
