<div id="wrapper" class="margLTop  margLBottom">
	<!--Container-->
	<div class="container">
			<div class="row ">
		<!--Left content-->

		<div class="col-md-3 nopr left-content">

	<!--Header-->

					<!--Main header-->
					<div class="main-header">

					<!--Profile image-->
					<figure class="img-profile">
            <%@personals.each do |personal|%>
						<img src="<%=personal.image%>" alt=""/>
						<figcaption class="name-profile">
							<span><%=personal.name%> <sup>&reg;</sup></span>
						</figcaption>

            <%end%>
					</figure>
					<!--End profile image-->



							<!--Main navigation-->
								<nav id="main-nav" class="main-nav clearfix tabbed">

								<ul>
									<li><a  href="/"><i class="fa fa-home"></i>Back To Home</a></li>
								</ul>

								</nav>
							<!--End main navigation-->
				</div>
				<!--End main header-->

				<div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
					<ul class="social">
					<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="index.html#"><i class="fa fa-linkedin"></i></a></li>


				</ul>

				<p>&copy; 2015 Mutationthemes.</p>

				</div>
		</div>
		<!--End left content-->



			<!--Right content-->
			<div class="col-md-9 right-content">
						<!--About Tab-->
					<section id="about" class="bgWhite ofsInBottom">

						<!--About -->
									<div class="button ofsInTop tCenter">


		                               	<!--Row-->
										<div class="row ">


											<div class="col-md-12">
                        <h2 class="ctr-thank">Thank You For Contact Us</h2>
											</div>



											</div>
											<!--End row-->


			                            </div>
										<!--End button-->



						</div>
						<!--End about-->

					</section>
						<!--End about tab-->
								<!--Portfolio Tab-->

</div>
