<!DOCTYPE html>
<html>
  <head>
    <title>Sousavoeurn.com</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>
  </head>

  <body style="background:#efefef" onload="document.refresh();">
    <%= yield %>
  </body>
</html>
